<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />
<div class="card">
  <div class="card-header bg-dark">
    <span class="lead text-white">{{ title }}</span>
  </div>
  <div class="spinner-border mx-auto m-4" role="status" *ngIf="!bugs">
    <span class="sr-only">Loading...</span>
  </div>

  <div class="card-body">
    <div class="card mb-4" *ngFor="let b of bugs">
      <div class="card-body">
        <h5 class="card-title">
          {{ b.title }}
          <span
            class="badge"
            [class.badge-info]="b.priority === 'LOW'"
            [class.badge-warning]="b.priority === 'MEDIUM'"
            [class.badge-danger]="b.priority === 'HIGH'"
            >{{ b.priority | titlecase }}</span
          >
          <div ngbDropdown class="d-flex float-right">
            <button class="py-0 btn btn-sm btn-outline-secondary" id="dropdownBasic1" ngbDropdownToggle></button>
            <div ngbDropdownMenu>
              <button ngbDropdownItem>Modifier</button>
              <button (click)="duplicateBug(b)" ngbDropdownItem>Dupliquer</button>
              <button (click)="deleteBug(b)" ngbDropdownItem>Supprimer</button>
            </div>
          </div>
        </h5>
        <p class="card-text">{{ b.description }}</p>
      </div>
      <div class="card-footer">
        <span class="text-muted">Ajouté le {{ b.creationDate | date: "dd MMMM YYYY" }}</span>
      </div>
    </div>
  </div>
  <div class="card-footer p-0">
    <button type="button" class="btn" (click)="openCreateBugModal()"><span class="fa fa-plus"></span> Add Bug</button>
  </div>
</div>
