<div class="card">
  <div class="card-body">
    <h6 class="card-title">
      <span class="text-muted">{{ title | uppercase }}</span>
      <span class="badge ml-2 badge-secondary">{{ bugs?.length }}</span>
    </h6>
    <div class="card mt-4" *ngFor="let bug of bugs" cdkDrag>
      <div class="card-body">
        <h5 class="card-title">
          <a class="text-muted stretched-link" [routerLink]="['/bugs', bug.id]">{{ bug.title }}</a>
        </h5>
        <span class="card-text badge" [class]="priorityBadgeClass(bug)">{{ bug.priority | enumName | titlecase }}</span>
        <p class="card-text">{{ bug.description }}</p>
        <div class="d-flex justify-content-end">
          <div *ngIf="bug.assignee">
            <small class="font-weight-normal">{{ bug.assignee.name }}</small>
            <img class="border ml-2 rounded-circle" src="https://picsum.photos/24" alt="" />
          </div>
          <div *ngIf="!bug.assignee">
            <small class="text-muted font-weight-light">No Assignee</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="card-footer p-0">
    <button type="button" class="btn btn-block btn-link text-dark" (click)="openCreateBugModal()"><fa-icon [icon]="faPlus"></fa-icon> Add Bug</button>
  </div>
</div>
