<h1 class="my-5">Dashboard</h1>
<app-dashboard-filters></app-dashboard-filters>
<div class="row">
  <div class="col-md-4 p-0">
      <app-buglist title="To Do" [bugs]="todoBugs" (deleteEvent)="deleteBug($event)" (duplicateEvent)="duplicateBug($event)" (createEvent)="createBug($event)"></app-buglist>
  </div>
  <div class="col-md-4">
      <app-buglist title="In Progress" [bugs]="doingBugs" (deleteEvent)="deleteBug($event)" (duplicateEvent)="duplicateBug($event)" (createEvent)="createBug($event)"></app-buglist>
  </div>
  <div class="col-md-4 p-0">
      <app-buglist title="Fixed" [bugs]="doneBugs" (deleteEvent)="deleteBug($event)" (duplicateEvent)="duplicateBug($event)" (createEvent)="createBug($event)"></app-buglist>
  </div>
</div>
