<header>
  <nav class="navbar navbar-expand-md navbar-dark bg-dark shadow">
    <span class="navbar-brand">
      <img src="assets/brand-horizontal.svg" height="45" alt="" />
    </span>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" (click)="collapsed = !collapsed">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" [ngbCollapse]="collapsed" id="navbarNav">
      <ul class="navbar-nav mr-auto" routerLinkActive="active" ngbNav>
        <li class="nav-item" ngbNavItem>
          <a class="nav-link" routerLink="dashboard" ngbNavLink>Dashboard</a>
        </li>
        <li class="nav-item" ngbNavItem>
          <a class="nav-link" routerLink="users" ngbNavLink>Users</a>
        </li>
        <li class="nav-item" ngbNavItem>
          <a class="nav-link" routerLink="settings" ngbNavLink>Settings</a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item mx-md-2 my-2 my-md-auto" *ngIf="!currentUser">
          <a class="btn btn-block btn-outline-secondary" (click)="openSignupModal()" role="button">Register</a>
        </li>
        <li class="nav-item mx-md-2 my-2 my-md-auto" *ngIf="!currentUser">
          <a class="btn btn-block btn-outline-primary" (click)="openSigninModal()" role="button">Sign In</a>
        </li>
        <li class="nav-item" *ngIf="currentUser" ngbDropdown>
          <a class="nav-link py-0 profile d-inline-flex flex-row-reverse flex-md-row" id="navbarDropdown" role="button" ngbDropdownToggle>
            <span class="d-flex flex-column text-md-right">
              <span class="font-weight-normal">{{ currentUser.name }}</span>
              <span class="text-muted font-weight-light">@{{ currentUser.username }}</span>
            </span>
            <span class="ml-md-3 mr-3 align-self-center">
              <img class="border border-dark rounded-circle" src="https://picsum.photos/32" alt="" />
            </span>
          </a>
          <div class="dropdown-menu" ngbDropdownMenu>
            <div class="px-4 py-2 d-flex flex-column align-items-center">
              <img class="border border-dark rounded-circle" src="https://picsum.photos/64" alt="" />
              <span class="font-weight-normal">{{ currentUser.name }}</span>
              <span class="text-muted font-weight-light">@{{ currentUser.username }}</span>
            </div>
            <button ngbDropdownItem>
              <strong>Profile</strong>
            </button>
            <div class="dropdown-divider"></div>
            <button ngbDropdownItem>
              <strong>Settings</strong>
            </button>
            <button (click)="signOut()" ngbDropdownItem>
              <strong>Sign out</strong>
            </button>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>

<main role="main" class="container">
  <router-outlet></router-outlet>
</main>

<footer *ngIf="isDevMode()" class="fixed-bottom w-100 p-2 bg-light">
  <div class="container d-flex align-items-center">
    <span class="text-muted mr-auto">Development mode</span>
    <span class="mx-md-2 my-2 my-md-auto">
      <a class="btn btn-outline-info" href="http://localhost:8080/swagger-ui/" role="button" target="_blank">API</a>
    </span>
    <span class="mx-md-2 my-2 my-md-auto">
      <a class="btn btn-outline-warning" href="http://localhost:8080/h2-console" role="button" target="_blank">H2 console</a>
    </span>
  </div>
</footer>
